* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  min-height: 100vh;
  background-color: rgb(200, 197, 183);
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}
h1 {
  text-align: center;
  font-size: 7vmin;
}
.quesBox {
  margin-top: 20px;
  padding: 10px 30px;
  width: 90vmin;
  height: 10vmin;
  font-size: 3.5vmin;
  background-color: antiquewhite;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.activequesBox {
  height: 20vmin;
  background-color: rgb(244, 248, 252);
}
.ques {
  width: 90vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  position: relative;
}
.ans {
  font-size: 2.7vmin;
  color: blue;
  font-style: italic;
  margin-top: 5vmin;
  display: none;
}

.inactivecross {
  color: antiquewhite;
}
.activecross {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: black;
}
.inactivedown {
  position: absolute;
  right: 0;
  color: antiquewhite;
}
.activedown {
  cursor: pointer;
  position: absolute;
  color: black;
  right: 0;
}
