body {
  min-height: 97vh;
  background-image: linear-gradient(
    90deg,
    rgb(169, 201, 201),
    rgb(46, 139, 139)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox {
  position: absolute;
  height: 35px;
  width: 10px;
  border: 0;
  transition: 0.3s ease;
}
button {
  position: absolute;
  height: 37px;
  width: 40px;
  border: 0;
  transition: 0.3s ease;
}

.activeSearchBox {
  position: absolute;
  width: 170px;
  height: 35px;
  border: 0;
  transform: translateX(-45px);
  transition: 0.3s ease;
}
.activebtn {
  position: absolute;
  border: 0;
  transform: translateX(48px);
  transition: 0.3s ease;
}
