* {
  margin: 0;
  font-size: 1.1em;
}
body {
  min-height: 100vh;
  background-color: rgb(157, 74, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  cursor: pointer;
  margin: 20px;
  border: 0px solid rgb(191, 250, 114);
  border-radius: 1vmin;
  width: 150px;
  height: 60px;
  background-color: rgba(251, 219, 236, 0.447);
}
button:hover {
  background-color: rgba(251, 219, 236, 0.359);
}
